@import "src/variables.scss";

.primaryNav {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	margin-top: 1rem;
	&__list {
		padding-left: 2rem;
		grid-gap: 1rem;
		display: grid;
		align-items: center;
		grid-template-columns: repeat(4, 1fr);
		white-space: nowrap;
		&__link {
			list-style: none;
			place-self: center;
			a {
				font-size: 1rem;
				text-transform: capitalize;
				text-decoration: none;
				color: $secondaryColor;
			}
		}
	}
}
