@import "../variables.scss";

.soMe {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 1rem;
	justify-self: end;
	&__link {
		font-size: 1.5rem;
		text-decoration: none;
		color: $contrast;
		border-radius: 50%;
		background-color: $secondaryColor;
		padding: 0.1em 0.2em;
		place-self: center;
	}
}
