@import '../variables';

.wallet{
  display: flex;
  justify-content: space-around;
  margin-top:2rem;
  margin-bottom:2rem;

  &__create{
    display: grid;
    align-content: center;
    grid-gap:1rem;
    
    &__title{
      margin-bottom:0;
    }

    &__button{
      color:#fff;
      background-color: $btnColor;
      text-transform: uppercase;
      border-radius:51px;
      height:40px;
      width:70%;
      border:none;
    }
  }
}