@import "src/variables.scss";

.footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	color: $primaryColor;
	margin-left: 2rem;
	margin-top: 2rem;
	margin-bottom: 100px;
	&__container {
		display: grid;
		grid-template-columns: 1fr;
		place-items: start;
		&__list {
			list-style: none;
			margin: 0;
			padding: 0;
			text-transform: capitalize;
			&__items {
				padding-bottom: 1rem;
				&:last-of-type {
					padding-bottom: 0;
				}
			}
		}
		&__titel {
			font-weight: 900;
			text-transform: capitalize;
			margin: 0;
			margin-bottom: 1rem;
			color: $secondaryColor;
		}
		&__text {
			margin: 0;
			padding-bottom: 2rem;
		}
		&__link {
			text-decoration: none;
			color: $primaryColor;
			padding-bottom: 2rem;
		}
	}
}
